<a href="https://colab.research.google.com/github/barbosafael/Python/blob/main/Python_Curso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# Isto está formatado como código
```

Aula 2 - Variáveis, tipos, entrada, saída e operadores matemáticos

In [ ]:
nome = "Rafael Barbosa"
idade = 25
altura = 1.80
print(nome)
print(idade)
print(altura)

Rafael Barbosa
25
1.8

In [ ]:
nome = "Rafael Barbosa"
idade = 25
altura = 1.80
print(nome,"tem",idade,"e",altura,"de altura")

Rafael Barbosa tem 25 e 1.8 de altura

In [ ]:
nome = input("Qual seu nome? ")
idade = input("Qual a sua idade? ")
altura = input("Qual sua altura? ")

Qual seu nome? rafael
Qual a sua idade? 25
Qual sua altura? 1.80

In [ ]:
numero1 = 5
numero2 = 6
Resultado = numero1 + numero2
print(Resultado)

11

In [ ]:
valor = int(input('Entre com um número para saber a tabuada: '))  
aux = 0  
print('*' * 18)  
print('Tabuada de {}'.format(valor))  
print('*' * 18)  
while(aux <= 10):  
  print('{0} X {1} = {2}'.format(aux, valor, (aux * valor)))  
  aux = aux + 1

Entre com um número para saber a tabuada: 8
******************
Tabuada de 8
******************
0 X 8 = 0
1 X 8 = 8
2 X 8 = 16
3 X 8 = 24
4 X 8 = 32
5 X 8 = 40
6 X 8 = 48
7 X 8 = 56
8 X 8 = 64
9 X 8 = 72
10 X 8 = 80

Aula 3 - Operadores lógicos e estruturas de decisões (IF e ELSE)

In [ ]:
var_verdade = True
var_false = False 

if var_verdade == True:
   print("var_verdade é verdadeiro")

var_verdade é verdadeiro

In [ ]:
a = 2
b = 20

if a > b:
  print(a, "É maior que do que", b)
else:
   print(a,"não é maior do que", b)

2 não é maior do que 20

In [ ]:
a = 2
b = 20

if a > b and "abacaxi" == "uva":
  print(a, "É maior que do que", b)
else:
   print(a,"não é maior do que", b)

In [ ]:
print("Menu:\n1 = Escreve Rafael\n2 = Escreve Barbosa\n3 = Escreve Rodrigues\n")
opcao = input("Escolha uma opcao:")
if opcao == "1":
   print("Rafael")
if opcao == "2":
   print("Barbosa")
if opcao == "3":
   print("Rodrigues")
else:
   print('Opcao invalida')

Menu:
1 = Escreve Rafael
2 = Escreve Barbosa
3 = Escreve Rodrigues

Escolha uma opcao:4
Opcao invalida

Aula 4 - Strings e listas

In [ ]:
frase = "oi, tudo bem?"
lista_nomes = ["Rafael","Maria", "Cecilia", "Barbosa"]
lista_nomes.append("Geovanna")
lista_nomes.append("Pedro")
lista_nomes.remove("Rafael")

print(lista_nomes)

['Maria', 'Cecilia', 'Barbosa', 'Geovanna', 'Pedro']

Aula 5 - Estruturas de laço (WHILE e FOR)

In [ ]:
nomes = ["Rafael", "Geovanna", "Maria", "Cecilia"]
for nome in nomes:
    print(nome)

Rafael
Geovanna
Maria
Cecilia

In [4]:
nomes = ["Rafael", "Geovanna", "Maria", "Cecilia"]

lista_de_numeros = range(5)

for item in lista_de_numeros:
  print(item)

0
1
2
3
4

In [5]:
palavras = 'Rafael barbosa'

i = 0 

while i < 10:
  print("i ainda é menor que 10", i)
  i = i + 1

i ainda é menor que 10 0
i ainda é menor que 10 1
i ainda é menor que 10 2
i ainda é menor que 10 3
i ainda é menor que 10 4
i ainda é menor que 10 5
i ainda é menor que 10 6
i ainda é menor que 10 7
i ainda é menor que 10 8
i ainda é menor que 10 9